@import "styles/base/variables";
@import "styles/base/mixins";

.popup {
    &__all-work {
        @include media-not-mobile {
            width: 400px;
            top: 50px !important;
            left: 26px !important;
        }
    }
}

.info {
    &__popup {
        @include media-not-mobile {
            width: 350px;
            top: 50px !important;
            left: 20px !important;
        }
    }
    &__list {
        list-style: none;
        margin-bottom: 5px;
    }
}

.description {
    &__popup {
        @include media-not-mobile {
            width: 450px;
            top: 280px !important;
            left: 40px !important;
        }
    }
}
