@import "styles/base/variables";
@import "styles/base/mixins";

.popup {
    &__all-work {
        @include media-not-mobile {
            width: 400px;
            top: 60px !important;
            left: 26px !important;
        }

        @include media-tablet {
            width: 100%;
            top: initial !important;
            left: initial !important;
        }
    }
}
