@import "styles/base/variables";
@import "styles/base/mixins";

.wrapper {
    margin-right: 0.5rem;
    .footnote {
        font-size: $fs-xs;
        color: var(--blue-color) !important;
        cursor: pointer;
        position: relative;
        top: -4px;
        -webkit-text-stroke: 0.2px;
        margin-right: 2px;
        text-decoration: underline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        &:hover {
            text-decoration: none;
        }
        &:active {
            opacity: 0.7;
        }
        @include media-mobile {
            font-size: $fs-xs-mobile;
        }
    }
    .link {
        color: var(--blue-color) !important;
        text-decoration: underline;
        cursor: pointer;
        touch-action: manipulation;
        &:hover {
            text-decoration: none;
        }
        &:active {
            opacity: 0.7;
        }
    }
}
