@import "styles/base/variables";
@import "styles/base/mixins";

.container {
    display: flex;
    flex-flow: column;
}

.popup {
    &__list__container {
        ul {
            margin: 0;
            list-style: none;
            li {
                padding-left: 15px;
                &::before {
                    content: "¶";
                    float: left;
                    margin-left: -15px;
                }
            }
        }
    }
    @include media-not-mobile {
        &__bae-seonghyeon {
            top: 60px !important;
            left: 26px !important;
        }
        &__contact {
            top: 195px !important;
            left: 50px !important;
        }
        &__comment {
            width: 600px;
            word-break: keep-all;
        }
    }

    @include media-tablet {
        &__bae-seonghyeon {
            top: initial !important;
            left: initial !important;
        }
        &__contact {
            top: initial !important;
            left: initial !important;
        }
        &__comment {
            width: 100% !important;
            word-break: keep-all;
        }
    }
}
