@import "styles/base/variables";

.container {
    display: flex;
    flex-flow: column;
}

.popup {
    &__list__container {
        ul {
            margin: 0;
            list-style: none;
            li {
                padding-left: 15px;
                &::before {
                    content: "¶";
                    float: left;
                    margin-left: -15px;
                }
            }
        }
    }
    &__bae-seonghyeon {
        top: 50px !important;
        left: 26px !important;
    }
    &__contact {
        top: 195px !important;
        left: 50px !important;
    }
}
