@import "styles/base/variables";
@import "styles/base/mixins";

$popup-padding: 24px;

.container {
    position: absolute;
    border-radius: $b-radius + 2;
    &::before {
        content: "";
        border-radius: $b-radius + 2;
        @include shadow-without-outline();
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    p {
        margin: 0;
    }
    ul {
        text-align: left;
        li {
            margin-bottom: 5px;
            display: flex;
        }
    }

    .header {
        border-radius: $b-radius $b-radius 0 0;
        border-bottom: 1px solid var(--lightgray-color);
        text-align: left;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: $popup-padding;
        padding-top: $popup-padding - 10;
        padding-bottom: $popup-padding - 10;

        h1 {
            font-size: $fs-l - 0.1;
            font-weight: bold;
            touch-action: auto;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        cursor: pointer;
        .button__wrapper {
            display: flex;
            flex-direction: row;
            svg {
                fill: var(--gray-color) !important;
            }
        }

        .close__button {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            touch-action: auto;
            font-weight: bold;
            margin-right: $popup-padding - 10;
            svg {
                fill: var(--gray-color) !important;
            }
        }

        &:hover {
            border-bottom-color: var(--on-background-color);
        }

        &--active {
            transition: none;
            background-color: var(--on-background-color);
            border-bottom-color: var(--on-background-color);
            h1 {
                color: var(--background-color) !important;
            }
            &:hover {
                color: initial;
                .close__button {
                    color: var(--background-color);
                }
            }
            .close__button {
                color: var(--background-color);
            }
            svg {
                fill: var(--background-color) !important;
            }
        }
    }

    .body {
        padding: $popup-padding - 8 $popup-padding $popup-padding - 2;
        text-align: left;
        touch-action: auto;
        white-space: pre-wrap;
    }

    @include media-mobile {
        position: relative;
        width: 100%;
        margin-bottom: 11px;
        top: initial !important;
        left: initial !important;
        transform: initial !important;
    }

    @include media-tablet {
        position: relative;
        width: 100%;
        margin-bottom: 11px;
        top: initial !important;
        left: initial !important;
        transform: initial !important;
    }

    &.hide {
        opacity: 0;
        z-index: -1;
    }
}
