@import "../../styles/base/variables";
@import "../../styles/base/mixins";

.container {
    opacity: 0;
    transform: scale(0.8);
    &.animated {
        opacity: 1;
        transform: scale(1);
    }

    .body {
        flex: 1;
        padding: 0px 30px;
        @include media-not-mobile {
            height: 100vh;
            overflow: unset;
        }
        @include media-mobile {
            padding: 58px 11px 50px;
        }
        @include media-tablet {
            padding: 58px 11px 50px;
        }
    }
}
