@import "styles/base/variables";
@import "styles/base/mixins";

.container {
    @include media-not-mobile {
        width: 350px;
        top: 50px !important;
        left: 20px !important;
    }

    .list {
        list-style: none;
        margin-bottom: 5px;
    }
}
