@import "styles/base/variables";
@import "styles/base/mixins";

.container {
    z-index: $z-layout;
    position: fixed;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    line-height: 1;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: none;
    width: max-content;
    transition: all 0.3s;

    justify-content: space-between;
    .wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        @include media-not-desktop {
            padding: 0px 17px;
            justify-content: space-between;
        }

        .divider {
            border-left: 1.5px solid var(--on-background-color);
            height: 16px;
            margin: 4px 0.8rem 0px 1.2rem;
            @include media-not-desktop {
                display: none;
            }
        }
    }

    @include media-not-desktop {
        width: 100%;
    }

    @include media-not-desktop {
        padding: 10px 0px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .links {
        &__wrapper {
            display: flex;
            align-items: center;
            @include media-not-mobile {
                min-width: 250px;
            }
            :not(:last-of-type) {
                margin-right: 1rem;
            }
        }
    }
}

.link {
    &__label {
        min-width: fit-content;
        transition: all ease 0.1s 0s;
        -moz-transition: all ease 0.1s 0s;
        -webkit-transition: all ease 0.1s 0s;
        text-decoration: none;
        font-size: $fs-l;
        @include media-mobile {
            font-size: $fs-l-mobile;
        }
        color: var(--on-background-color);
        a {
            margin-top: 0.7rem;
            display: block;
        }
        &-active {
            border-bottom: $bw solid var(--on-background-color) !important;
            font-weight: bold;
            line-height: 1.2;
            transition: all ease 0.1s 0s;
            -moz-transition: all ease 0.1s 0s;
            -webkit-transition: all ease 0.1s 0s;
            letter-spacing: $ls-bold;
        }
    }
}

.hide {
    @include media-mobile {
        transform: translate(-50%, -80%);
    }
}
