// Break Point
$large: 1280px;
$medium: 1024px;
$small: 768px;

// Pc
@mixin media-pc-large {
    @media screen and (min-width: $small) and (max-width: $large) {
        @content;
    }
}

// Tablet
@mixin media-pc {
    @media screen and (min-width: $small) {
        @content;
    }
}

// Mobile
@mixin media-mobile {
    @media screen and (max-width: $small) {
        @content;
    }
}
