@import "styles/base/variables";
@import "styles/base/mixins";

.container {
    z-index: 999;
    position: absolute;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    .close__button {
        z-index: 1;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 00px;
        right: 00px;
        cursor: pointer;
        @include shadow-without-outline();
        background-color: var(--background-second-color);
        border-radius: $b-radius;
        svg {
            fill: var(--gray-color);
            transform: initial;
            transition: ease all 0.1s;
        }
        &:hover {
            border-color: var(--on-background-color);
        }
    }

    .wrapper {
        padding: 5px 10px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: white;
        &:hover {
            text-decoration: underline;
        }
        animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        -moz-animation: bounce 2s infinite;
        background-image: url("./pointer.svg");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-10px);
        }
    }

    @include media-mobile {
        display: none;
    }

    @include media-tablet {
        display: none;
    }
}

.hide {
    .wrapper {
        opacity: 0;
        cursor: initial;
    }
    .close__button {
        svg {
            transform: rotate(45deg);
        }
    }
}
