@import "styles/base/variables";

.container {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 10px;
    width: calc(100% - 20px) !important;

    .link {
        color: var(--blue-color);
        text-decoration: underline;
        cursor: pointer;

        &--block {
            display: block;
        }

        &:hover {
            text-decoration: none;
        }
    }
}
