@import "styles/base/variables";
@import "styles/base/mixins";

.container {
    z-index: $z-layout;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    .copy-right {
        text-align: left;
        padding-left: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $fs-s !important;
        span {
            font-size: $fs-s !important;
        }
        a {
            text-decoration: none;
            height: 100%;
            width: 4px;
        }
        &::before {
            content: "©";
            float: left;
            margin-left: -13px;
        }
    }
    .toggle {
        &__container {
            position: relative;
            top: 1px;
            min-width: 118px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            :not(:last-of-type) {
                margin-right: 5px;
            }
        }
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            border: 1px solid transparent;
            cursor: pointer;
            &:hover {
                // background: var(--lightgray-color);
                // border: 1px solid var(--on-background-color);
                // background: var(--background-color);
                // box-shadow: 0vh 0vh 0.5vh var(--on-background-color);
                // @include shadow-outline(0.5vh);
            }
        }
        &__darkmode {
            height: 20px;
            svg {
                stroke: var(--on-background-color);
                width: $fs-s;
            }
        }
        &__language {
            font-size: $fs-s !important;
            padding-bottom: 1px;
            padding-left: 1px;
        }
    }
    @include media-mobile {
        padding: 0.5rem 11px;
        .copy-right {
            padding-left: 15px;
        }
    }
}
