@import "styles/base/variables";
@import "styles/base/mixins";

.container {
    z-index: $z-layout;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    .copy-right {
        text-align: left;
        padding-left: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $fs-s !important;
        @include media-mobile {
            font-size: $fs-s-mobile !important;
        }
        span {
            font-size: $fs-s !important;
            @include media-mobile {
                font-size: $fs-s-mobile !important;
            }
        }
        a {
            text-decoration: none;
            height: 100%;
            width: 4px;
        }
        &::before {
            content: "©";
            float: left;
            margin-left: -13px;
        }
    }
    .toggle {
        &__container {
            position: relative;
            top: 1px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            :not(:last-of-type) {
                margin-right: 7.5px;
            }
        }
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border: 1px solid transparent;
            cursor: pointer;
        }
        &__darkmode {
            height: 22px;
            @include media-mobile {
                height: 20px;
            }
            svg {
                stroke: var(--on-background-color);
                width: $fs-s;
                @include media-mobile {
                    font-size: $fs-s-mobile;
                }
            }
        }
        &__language {
            font-size: $fs-s !important;
            @include media-mobile {
                font-size: $fs-s-mobile !important;
            }
            padding-bottom: 1px;
            padding-left: 1px;
        }
    }
    @include media-mobile {
        padding: 0.5rem 11px;
        .copy-right {
            padding-left: 15px;
        }
    }
}
