@import "./variables";

// Break Point
$large: 1280px;
$medium: 844px;
$small: 480px;

// Pc
@mixin media-pc {
    @media screen and (min-width: $large) {
        @content;
    }
}

// Tablet
@mixin media-tablet {
    @media screen and (min-width: $small) and (max-width: $medium) {
        @content;
    }
}

// Mobile
@mixin media-mobile {
    @media screen and (max-width: $small) {
        @content;
    }
}

// Not Mobile
@mixin media-not-mobile {
    @media screen and (min-width: ($medium + 1)) {
        @content;
    }
}

// Color
@mixin color-bright {
    --background-color: #fff;
    --background-second-color: #fff;
    --on-background-color: #222222;
    --on-background-color--opacity: #22222280;
    --shadow-color: #777777;
    --blue-color: #323efd;
    --lightgray-color: #ddd;
    --gray-color: #969696;
}

@mixin color-dark {
    --background-color: #171717;
    --background-second-color: #222224;
    --on-background-color: #eee;
    --on-background-color--opacity: #000000;
    --blue-color: #0078ff;
    --shadow-color: #000;
    --lightgray-color: #333;
    --gray-color: #7e7e7e;
}

@mixin shadow-outline($shadow-weight) {
    border: 1px solid var(--on-background-color);
    background: var(--background-color);
    box-shadow: 0vh 0vh $shadow-weight var(--on-background-color);
}

@mixin shadow-without-outline() {
    background: var(--background-second-color);
    box-shadow: 2px 5px 40px 0 var(--on-background-color--opacity);
}
