/* color */
$color-primary: blue;
$color-secondary: #f9ff5a;
$color-background: #fff;
$color-background-variant: #fff;
$color-on-background: #222;
$color-blue: blue;
$color-shadow: #777777;

$color-background-dark: #111;
$color-background-variant-dark: #000;
$color-on-background-dark: #eee;
$color-blue-dark: #0078ff;
$color-shadow-dark: #000;

/* font size */
$fs-xs: 0.6rem;
$fs-s: 0.75rem;
$fs-m: 0.9rem;
$fs-l: 1rem;

/* font weight */
$fw: 400;

/* letter spacing */
$ls: initial;
$ls-bold: initial;

/* line height */
$lh-s: 1.6;
$lh-m: 1.6;
$lh-l: 1.9;

/* border width */
$bw: 1px;

/* zindex */
$z-layout: 999;
