/* color */
$color-primary: blue;
$color-secondary: #f9ff5a;
$color-background: #fff;
$color-background-variant: #fff;
$color-on-background: #222;
$color-blue: blue;
$color-shadow: #777777;

$color-background-dark: #111;
$color-background-variant-dark: #000;
$color-on-background-dark: #eee;
$color-blue-dark: #0078ff;
$color-shadow-dark: #000;

/* font size */
$fs-xs: 0.9rem;
$fs-s: 1rem;
$fs-m: 1.1rem;
$fs-l: 1.3rem;

/* font size - mobile */
$fs-xs-mobile: 0.7rem;
$fs-s-mobile: 0.8rem;
$fs-m-mobile: 0.95rem;
$fs-l-mobile: 1.15rem;

/* font weight */
$fw: 500;

/* letter spacing */
$ls: initial;
$ls-bold: initial;

/* line height */
$lh-s: 1.6;
$lh-m: 1.6;
$lh-l: 1.9;

/* border width */
$bw: 1.5px;

/* zindex */
$z-layout: 999;
